/*.block {
  border-top: solid grey 30px;
  background-color: black;
  opacity: .7;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}*/
div #always h1,i, h3 {
  font-family: lobster;
}

div #always {
	padding: 6px 20px 6px 20px;
	border-top: solid grey 30px;
  background-color: black;
  opacity: .7;
	text-align: center;
	display: table;
/*  width: 50%;*/
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px 10px 0 0;
	margin-top: 68px;
	margin-bottom: 20px;
	color: cornflowerblue;
}

.nav-pills {
 font-size: 1.7em;
 background-color: black;
 opacity:.8; 
 border-color: #916a08;  
 color: #337ab7;
 margin-bottom: 10%;
 -webkit-transition: .5s all ease-out;
 -moz-transition: .5s all ease-out;
 transition: .5s all ease-out; 
}

body {
  background-color: white;
  font-family: lobster;
  color: white;
}
div #msa {
  border-color: blueviolet;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
/*  font-size: 1.5em;*/
  font-weight: 700;    
  margin-top:2%;
}
.btn-default {
  border-color: #916a08;
  font-family: sans-serif;
  font-size: 1.5em;
/*  color: #337ab7;*/
  margin-top:2%;
}
#profile{
  margin-left: 40%;
  border-radius: 50%;
}
#twitterIcon{
  color:rgb(0,172,217);
  margin-right:2%;
}
#facebookIcon{
  color:rgb(59,89,163);
  margin-right:4%;
}
#linkedinIcon{
  color:rgb(0,127,178);
  margin-left:7%;
}
#githubIcon{
  color:rgb(102,43,129);
  margin-right:2%;
}
#codepenIcon{
  color:grey;
  margin-right:2%;
}
.pageOne {
background:url("https://images.unsplash.com/photo-1473447216727-44efba8cf0e0?");
background-size:cover;
height:800px;   
}
.pageTwo {
  background:url("https://images.unsplash.com/photo-1473447216727-44efba8cf0e0?");
background-size:cover;
height:800px;
/*   max-width:100%; */
  
/*   margin-top:45%; */
/*   margin-bottom:1%; */
}
.pageThree {
  background:url("https://images.unsplash.com/photo-1473447216727-44efba8cf0e0?");
background-size:cover;
height:800px;
/*   padding-top: 1%; */
}
/*div #three {
	margin-left: 13%;
	margin-right: auto;
}*/
.pageFour {
 background:url("https://images.unsplash.com/photo-1473447216727-44efba8cf0e0?");
background-size:cover;
height:800px;
}
/* Tagline */

.tagline {
/*   margin-top:-45%; */
	width:100%;
	background-color:#DEDECD;
	padding:77px 0px 107px 0px;
	border-top:1px solid #F4F5EE;
}
.taglineWrapper {
	width:94%;
	max-width:900px;
	margin:0px auto;
	font-size:28px;
	color:#666666;
	text-align:center;
	font-weight:300;
	line-height:40px;
}
/* Services */


.servicesWrapper {
		width:94%;
		max-width:1170px;
		margin:0px auto;
}
.servicesBox {
	width:20.6%;
	float:left;
	margin-right:5.86%;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.servicesBoxLast {
	width:20.6%;
	float:left;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.servicesCircle {
	background-color:grey;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
}
.servicesCircle img {
	max-width:101%;
  margin-top: -20%;
  
/*   border-radius:50%; */
}
.servicesTitle {
	opacity: .7;
  margin-top:5%;
  background: black;
	font-size:1.1em;
  border-radius: 6%;
  color: white;
  font-family: ;
	text-transform:uppercase;
	letter-spacing:1px;
}
.servicesDivide1 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #EBA982;
}
.serviceStatement {
	padding: 11px;
	opacity: .7;
  font-size:1em;
  background: black;
  color: white;
  font-family: roboto, monospace;
  border-radius: 10px;
}
.servicesDivide2 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #CFB0AA;
}
.servicesDivide3 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}
.servicesDivide4 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BCC2B6;
}
#designIcon {
margin-left: -10%;  
max-width:120%;  
height:130%;  
border-radius:50%;
}
#developmentIcon {
max-width:100%; 
height:130%;  
border-radius:50%;
}
#newsletterIcon {
height:130%;  
border-radius:50%;
}
#socialIcon {
height:130%;  
border-radius:50%;
}
@media screen and (max-width: 980px) {
	
/* Tagline */

.tagline {
	padding:62px 0px 92px 0px;
}
.taglineWrapper {
	font-size:24px;
	line-height:35px;
}
.twitterBkg {
	margin-top:0px;
	padding-bottom:60px;
	padding-top:60px;
}
.twitterCircle {
	display:none;
}

/* Services */

.bigSpace {
	height:80px;
	width:100%;
	clear:both;
}
.servicesBox {
	font-size:14px;
	line-height:20px;
}
.servicesBoxLast {
	font-size:14px;
	line-height:20px;
}

@media screen and (max-width: 750px) {

/* Tagline */

.tagline {
	padding:52px 0px 52px 0px;
}
.taglineWrapper {
	font-size:20px;
	line-height:30px;
}
.twitterBkg {
	padding-bottom:50px;
	padding-top:50px;
}



/* Services */


.servicesWebDesign {
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.servicesDevelopment {
/* 	background-image:url(../images/development_icon.png); */
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.servicesNewsletter {
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.servicesSocial {
/* 	background-image:url(../images/social_icon.png); */
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.bigSpace {
	height:60px;
	width:100%;
	clear:both;
}
.servicesWrapper {
		width:94%;
		max-width:1200px;
		margin:60px auto 0px auto;
}
.servicesBox {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.servicesBoxLast {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.servicesCircle {
	display:none;
}
.servicesTitle {
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:6px;
}
.servicesDivide1 {
/* 	display:none; */
}
.servicesDivide2 {
/* 	display:none; */
}
.servicesDivide3 {
/* 	display:none; */
}
.servicesDivide4 {
/* 	display:none; */
}
}






/* Retina Display Images */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {


}
