body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;  
}

#landing-header h1 {
    background: rgba(0,0,0,0.5);
    margin-top: 5vh;
    border: 5px solid #fff;
    padding: .5em;
  color: #fff;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}


#ballMenuContainer {
  z-index: 1;    
  margin-top: 40vh;
  padding: 0 calc(50% - 100px);
    position: absolute;
}

.menuBall {
    position: relative;
    width: 200px;
    height: 75px;
    border-radius: 20px;
}

.ball {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 20px;
    border: 2px dashed #fff;
    text-decoration: none;
}

.ball:hover {
    -webkit-animation: pulse 1s ease 0s infinite normal;
    -o-animation: pulse 1s ease 0s infinite normal;
    -moz-animation: pulse 1s ease 0s infinite normal;
    animation: pulse 1s ease 0s infinite normal;
}


.blueball {
    -moz-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d6385b, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d6385b, 2px 1px 6px 4px rgba(10,10,0,.5);

    background-image: -webkit-linear-gradient(35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86), 
    -webkit-linear-gradient(-35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86);
    background-image: -moz-linear-gradient(35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86), 
    -moz-linear-gradient(-35deg, #9f2e86 25%, transparent 25%, transparent 75%, #9f2e86 75%, #9f2e86);
    background-size:20px 20px;  
    background-color: #d6385b;
}


.menuText {
    font-family: 'IdolwildRegular' , Verdana, Helvetica, Sans-Serif;
    font-size: larger;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 35%;
}

#menuBall1 {
  -webkit-animation: bump 3s linear 0s infinite normal;
}


#menuBall1 {
  -moz-animation: bump 3s linear 0s infinite normal;
}


#menuBall1 {
  -o-animation: bump 3s linear 0s infinite normal;
}


#menuBall1 {
  animation: bump 3s linear 0s infinite normal;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
    50% {
      -webkit-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
}
@-o-keyframes pulse {
    0% {
      -o-transform: scale(1) rotate(0deg); 
    }
    50% {
      -o-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -o-transform: scale(1) rotate(0deg); 
    }
}
@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1) rotate(0deg); 
    }
    50% {
      -moz-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -moz-transform: scale(1) rotate(0deg); 
    }
}
@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
}

@-webkit-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-o-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-moz-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}





.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/326502/pexels-photo-326502.jpeg?h=350&auto=compress&cs=tinysrgb) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/209151/pexels-photo-209151.jpeg?h=350&auto=compress&cs=tinysrgb);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/248515/pexels-photo-248515.png?w=940&h=650&auto=compress&cs=tinysrgb);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg?h=350&auto=compress&cs=tinysrgb);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/331788/pexels-photo-331788.jpeg?h=350&auto=compress&cs=tinysrgb);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

@media(min-width: 525px){
    #landing-header h1 {
        padding: 1em;
    }
    #landing-header {
        width: 80%;
    }
    #ballMenuContainer{
        margin-top:40vh;
    }
}

@media(min-width: 725px){
    #landing-header{
        width: 65%;
    }
    #landing-header h1 {
        margin-top: 3vh;
        padding: 2em;
    }
    .btn-secondary{
        margin-top: 45vh;
    }
    #ballMenuContainer{
        margin-top:30vh;
    }
}